@font-face {
    font-family: 'Garet Book';
    src: url('fonts/Garet-Book.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Garet Book', sans-serif;
}

.navbar {
    background-color: #3C8D2F;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

.nav-right a:last-child {
    margin-right: 0;
}